/* Importing Normalize css */
@import url("normalize.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* , *:before ,*:after {
    box-sizing: border-box;
}
/* ***************************body************************* */
/* body for login page */
.body1 {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: initial;
    background: url("../img/n2.jpg") no-repeat fixed center;
    background-size: cover;
    
}
/* body after login */
.body {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: initial;
    /* -webkit-font-smoothing: antialiased; */
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
}
/* to remove the login page */

.login {
    position: absolute;
    top:330px;
    left:7%;
    text-align: center;
    display: block;
}
.login1, .passwordCreate , .passwordVerify {
    display: none;
}

/* properties of login password */

.passwordCreateAdd {
    position: absolute;
    text-align:center;
    top:330px;
    left:5%;
    display: block;
}
.passwordVerifyAdd {
    position: absolute;
    top:330px;
    text-align:center;
    left:28%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.passwordCreateRemove, .passwordVerifyRemove {

    display: none;

}

/* enter your name , password ,verify properties */
.hey {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 3.6rem;
 color:#fff;
 font-weight: 700;
 text-shadow: 1px 1px 4px 5px rgb(173, 169, 169);

}
.hey2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 3.6rem;
     color:#fff;
     font-weight: 700;
     text-shadow: 1px 1px 4px 5px rgb(173, 169, 169);
    
    }
.hey3 {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 3.6rem;
     color:#fff;
     font-weight: 700;
     text-shadow: 1px 1px 4px 5px rgb(173, 169, 169);
}    

/*  input value properties */

.enterName {
    width:50%;
    font-size: 3.4rem;
    margin-top: 1rem;
    font-weight: 500;
    border:none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid #fff;
    color:#fff;
    text-align: center;
    text-shadow: 1px 1px 4px 5px rgb(173, 169, 169);
    z-index: 0;
}
.createPasswordInput {
    width:50%;
    font-size: 3.4rem;
    margin-top: 1rem;
    font-weight: 500;
    border:none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid #fff;
    color:#fff;
    text-align: center;
    text-shadow: 1px 1px 4px 5px rgb(173, 169, 169);
    z-index: 0;
}
.verifyPasswordInput {
    width:70%;
    font-size: 3.4rem;
    margin-top: 1rem;
    font-weight: 500;
    border:none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid #fff;
    color:#fff;
    text-align: center;
    text-shadow: 1px 1px 4px 5px rgb(173, 169, 169);
    z-index: 0;
}
/* print the name to main page */
.userName {
    font-size: 2.812rem;;
    color:rgba(0, 0, 0, 0.6);
    -webkit-text-stroke: 1px #000; 
    /* text-shadow: 0px 0px 2px rgb(211, 208, 208); */
 
}
/*  hide the main page  */
.containerAll {
    display: none;
}
.allContainer {
    display: block;
    position: absolute;
    top:0;
    right:0;
    left:0;
    z-index: 2;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*  clock  */
#time {
-webkit-font-smoothing: antialiased;
 font-family: 'DM Sans', sans-serif;
 font-weight: 500;
 font-size: 12.5rem;
 color:rgba(0, 0, 0, 0.7);
 letter-spacing: 3px;
 padding-top: 40px;
 display: inline-block;
 -webkit-text-stroke: 1px rgb(0, 0, 0); 
}
.en {
    transition: transform 0.3s ease-in-out;
    display: none;
}
/* #time:hover ~.en {
    font-size: 2rem;
    color:rgba(0, 0, 0, 0.8);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
} */

.clockContainer {
     display: flex;
     flex-flow: column;
     justify-content: center;
     align-items: center;
     height: 90vh;
}
/*  greetings  */
#greetings {
    font-size: 2.812rem;
    color:rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px #000; 
    /* text-shadow: 0px 0px 2px rgb(211, 208, 208); */
    display: inline-block;
    -webkit-font-smoothing: antialiased;

}

/* *******************quotes big *************** */

.quotesBig {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-items: start;
    
}
.quote,.authorName {
    /* text-shadow: 0px 0px 1px rgb(211, 208, 208); */
    color:rgba(0, 0, 0, 1);
    /* -webkit-text-stroke: 1px #000;  */
}
.quote {
    font-family: 'Alegreya', serif;
    font-weight: 100;
    word-spacing: 1.5;
    font-size: 1.5rem;
    /* text-shadow: 0px 0px 1px rgb(211, 208, 208); */
    line-height: 1rem;
    cursor: pointer;
    
}
.authorName {
    display: none;
  }

.quote:hover ~ .authorName {
    display: inline-block;
    font-family: 'Alegreya', serif;
    font-weight: 100;
    font-size:1rem;
    color:rgba(0, 0, 0, 0.9);
    padding-top: 1rem;
}


/* ***************** todo ***************** */

.container {

    width: 25%;
    margin:0 auto;
    position: absolute;
    right:50px;
    top:10px;
    text-align: center;
    display: block;
}
.todo {
    -webkit-font-smoothing: antialiased;
    font-size: 3.5rem;
    font-weight: 200;
    color:rgba(0,0,0,0.7);
    font-style:normal;
    margin:1rem 0;
    text-rendering: optimizeLegibility;
}
.input_container {
    position: relative;
    
}
.input_container input[type="text"] {
    padding:10px 40px;
    width:100%;
    background:rgba(0, 0, 0, 0.6);
    color:#fff;
    font-size: 1.5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    box-shadow: 0px 10px 20px -5px rgba(204, 204, 204, 0.5);
    border-top:1px solid rgba(155, 150, 150, 0.5);
    border-left: none;
    border-right: none;
    border-bottom:none;
    position: relative;
    z-index: 0;
    outline: 0;
}
.input_container input::placeholder {
    -webkit-font-smoothing: antialiased;
    color:rgb(175, 169, 169);
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 200;
    
}
.input_container .inputBox::placeholder {
    color:rgb(12, 12, 12);
}
.input_container i {
    position: absolute;
    left:1rem;
    top:1.2rem;
    font-size: 1rem;
}
.li_list {

    font-size: 1.1rem;
    color:#000000;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0.5rem 2.4rem 0.5rem 2.5rem;
    border:none;
    width: 100%;
    box-shadow: 0px 5px 5px -5px rgba(238, 236, 236, 0.2);
    background:rgba(255, 255, 255, 0.6);
    position: relative;
    line-height: 1.3;
    word-spacing: 2px;
    z-index: 0;
    text-align: left;
}

.list {
    position :relative;
}

.li_list:hover .btn {
    color:rgb(224, 0, 0);
}
.imgContainer {
    height:1.3rem;
    width:1.3rem;
    border-radius: 50%;
    border: 1px solid rgb(136, 135, 135);
    position: absolute;
    left:0.6rem;
    bottom:0.6rem;
}
.right {
    width:100%;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
}
/* .foot {
    display: none; 
 } */

.footer_container {
    display: block;
}

.footer-content {
    color:rgb(143, 142, 142);
    cursor: pointer;
}
.btn {
    color:rgba(250, 246, 246, 0.1);
    position: absolute;
    right:1rem;
    font-weight: 100;
    bottom:0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.i {
    width:10%;
    position: absolute;
    left: 0.1rem;
    bottom:0.5rem;
}
.i_ {
    width:10%;
    position: absolute;
    left: 0.1rem;
    bottom:0.5rem;
}

.check {
    position: absolute;
    left:1rem;
    height:1rem;
    width:1rem;
    cursor: pointer;
    display: none;
}
.item {
    position: absolute;
    left:1rem;
    bottom:0.2rem;
}
.item_count {
    position:absolute;
    left:0.3rem;
    bottom:0.2rem;
}
.clear_completed {
    position: absolute;
    right:0.8rem; 
    bottom:0.2rem;
    display: none;
}
.clearCompleted {
    display: block;
}
.item,.all1,.completed,.active,.clear_completed,.item_count{
    -webkit-font-smoothing: antialiased;
    margin:0 0.1rem;
    font-size: 0.7rem;
    padding:0.2rem;
    border:1px solid transparent;
    font-weight: 200;
    color:#ffffff;
    cursor: pointer;
    text-decoration: none;

}
.item1,.completed1,.active1,.clear_completed1{
    border:1px solid #E9D6D8;
    color:#f7f1f1;
    border-radius: 4px;
    font-size: 0.7rem;
}

.all {
    margin:0 0.1rem;
    font-size: 0.9rem;
    padding:0.2rem;
    border:1px solid #E9D6D8;
    font-weight: 200;
    color:#f7f1f1;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
   
}
.all1:hover {
    border:1px solid #E9D6D8;
    border-radius: 4px;
}
.completed:hover {
    border:1px solid #E9D6D8;
    border-radius: 4px;
}
 .active:hover {
    border:1px solid #E9D6D8;
    border-radius: 4px;
}
h3 {
    display: inline-block;
}
.footer1 {
    padding:0.4rem 0;
    background:rgba(0, 0, 0, 0.7);
    position: relative;
    border: none;
    box-shadow: 0px 0px 10px -5px rgba(134, 131, 131, 0.5);


}
.f1,.f2,.f3 {
    margin: 0 auto;
    height:0.2rem;
    background:rgba(34, 33, 33, 0.2);
    border:1px solid rgba(189, 182, 182, 0.3);
    
   
}
.f1 {
    width:98%;
}
.f2 {
    width:96%;
}
.f3 {
    width:94%;
    box-shadow: 1px 1px 5px 0 rgba(197, 191, 191, 0.5);
}
.footer {
    padding: 3rem 0;
    cursor: pointer;
   
}

/* ***********************todo light **********************/

.footer2 {
    background:rgba(255, 255, 255, 0.7);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.footer2 .item, .footer2 .item_count{
    -webkit-font-smoothing: antialiased;
    color:#000000;
}
.footer2 .all1 {
    -webkit-font-smoothing: antialiased;
    color:#000000;
}
.footer2 .completed{
    -webkit-font-smoothing: antialiased;
    color:#000000;
}
.footer2 .active{
    -webkit-font-smoothing: antialiased;
    color:#000000;
}
.footer2 .clear_completed {
    -webkit-font-smoothing: antialiased;
    color:#000000;
}
.footer2 .all1:hover {
    border:1px solid rgb(37, 37, 37);
    border-radius: 4px;
}
.footer2 .completed:hover {
    border:1px solid rgb(37, 37, 37);
    border-radius: 4px;
}
.footer2  .active:hover {
    border:1px solid rgb(37, 37, 37);
    border-radius: 4px;
}
.footer2 .item1, .footer2 .completed1, .footer2 .active1, .footer2 .clear_completed1{
    border:1px solid rgb(37, 37, 37);
    border-radius: 4px;
    font-size: 0.7rem;
}.footer2 .all {
    padding:0.2rem;
    border:1px solid rgb(129, 125, 126);
    font-weight: 200;
    color:#000000;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
   
}

/* ********************* todo end ************************* */
@media screen and (max-width:480px) {
    html {
        font-size: 10px;
    }
    #time {
        font-size: 8rem;
    }
    #greetings {
        font-size: 2rem;
    }
    .allContainer {
        text-align: center;
    }
    .container {
        min-width: 70%;
        align-self: top;
        left:4.2rem;
      justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width:768px ) {
    html {
        font-size: 12px;
    }
    #time {
        font-size: 10rem;
    }
    #greetings {
        font-size: 2rem;
    }
    .allContainer {
        text-align: center;
    }
    .container {
        width: 35%;
        margin:0 auto;
        position: absolute;
        right:50px;
        top:10px;
        text-align: center;
        display: block;
    }
}
@media screen and (max-width:1024px ) {
    html {
        font-size: 12px;
    }
    #time {
        font-size: 10rem;
    }
    #greetings {
        font-size: 2rem;
    }
    .allContainer {
        text-align: center;
    }
    .container {

        width: 30%;
        margin:0 auto;
        position: absolute;
        right:50px;
        top:10px;
        text-align: center;
        display: block;
    }
    
}